<script setup lang="ts">
import FirstComponent from "@/components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";
</script>
<template>
  <main>
    <div><FirstComponent /></div>
    <div><SecondComponent /></div>
  </main>
</template>
