<script lang="ts" setup></script>
<template>
  <v-main>
    <v-list>
      <v-list-item>
        <v-btn> ANGRY </v-btn>
      </v-list-item>
      <v-list-item>
        <v-btn> CUTE </v-btn>
      </v-list-item>
      <v-list-item>
        <v-btn> EXCITED </v-btn>
      </v-list-item>
      <v-list-item>
        <v-btn> PAIN </v-btn>
      </v-list-item>
      <v-list-item>
        <v-btn> SHOCKED </v-btn>
      </v-list-item>
      <v-list-item>
        <v-btn> SMILE </v-btn>
      </v-list-item>
    </v-list>
  </v-main>
</template>

<style scoped></style>
