<script lang="ts" setup>
const result = () => {};
</script>

<template>
  <div>
    <v-text-field
      class="ma-5"
      label="Please Input Number"
      :rules="[(v) => !!v || 'Number is not empty!!']"
    ></v-text-field>
  </div>
  <div>
    <v-row class="ma-5">
      <v-col>1</v-col>
      <v-col>1</v-col>
      <v-col>1</v-col>
      <v-col>1</v-col>
      <v-col>1</v-col>
      <v-col>1</v-col>
      <v-col>1</v-col>
      <v-col>1</v-col>
      <v-col>1</v-col>
      <v-col>1</v-col>
      <v-col>1</v-col>
      <v-col>1</v-col>
    </v-row>
  </div>
</template>
