<script setup lang="ts">
const increase = () => {};
</script>
<template>
  <v-container>
    <v-card class="ma-5">
      <v-card-item>
        <h3>First Component</h3>
      </v-card-item>
      <v-btn>INCREMENT</v-btn>
    </v-card>
  </v-container>
</template>
